
.icon-at:before { content: '\e800'; } /* '' */
.icon-location:before { content: '\e801'; } /* '' */
.icon-user:before { content: '\e802'; } /* '' */
.icon-briefcase:before { content: '\e803'; } /* '' */
.icon-mail:before { content: '\e804'; } /* '' */
.icon-book:before { content: '\e805'; } /* '' */
.icon-phone-squared:before { content: '\f098'; } /* '' */
.icon-github:before { content: '\f113'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */
